.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 0.4fr 3fr 1.9fr;
    grid-template-areas: ". . . ." ". loginBtn signupBtn ." ". . . ." ". info info .";
    color: rgb(52, 104, 156);
}

.loginBtn {
    grid-area: loginBtn;
}

.signupBtn {
    grid-area: signupBtn;
}

.info {
    grid-area: info;
}

.button {
    color: white;
    background-color: rgb(52, 104, 156);
    padding: .7em 1.5em;
    outline: none;
    border: 2px solid;
}

.button:hover {
    background: white;
    color: rgb(52, 104, 156);
}