.container {
    display: grid;
    grid-template-columns: 1.5fr 0.6fr 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr 0.3fr 4fr 1fr;
    grid-template-areas: ". . . button" ". . inscr ." ". . . ." ". form form ." ". . . .";
    color: rgb(0, 37, 204);
    ;
}

.form {
    grid-area: form;
}

.inscription {
    grid-area: inscr;
}

.p2 {
    font-size: 130%;
}

.loginBtn {
    grid-area: button;
}

.button {
    color: white;
    background-color: rgb(52, 104, 156);
    padding: .7em 1.5em;
    outline: none;
    border: 2px solid;
}

.button:hover {
    background: white;
    color: rgb(52, 104, 156);
}

.doneBtn {
    grid-area: done;
}