.container {
    display: grid;
    grid-template-columns: 1.5fr 0.6fr 1fr 1fr;
    grid-template-rows: 2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-areas: ". . . ." ". inscription inscription ." ". . . ." ". nickField nickInscr ." ". passwordField passwordInscr ." ". passwordField2 passwordInscr2 ." ". . . .";
    color: rgb(0, 37, 204);
    ;
}

.inscription {
    grid-area: inscription;
}

.nickField {
    grid-area: nickField;
}

.passwordField {
    grid-area: passwordField;
}

.passwordField2 {
    grid-area: passwordField2;
}

.nickInscr {
    grid-area: nickInscr;
}

.passwordInscr {
    grid-area: passwordInscr;
}

.passwordInscr2 {
    grid-area: passwordInscr2;
}

.p {
    font-family: cursive;
}

.p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
}