.header {
    background-color: rgb(52, 104, 156);
    display: grid;
    grid-template-areas: ". dialogs content .";
    grid-template-columns: 2fr 1fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . . . . ." ". logo name name . . ." ". logo name name . . ." ". logo name name . . ." ". logo name name . . ." ". . name name . . .";
    font-size: 130%;
    color: white;
}

.header img {
    width: 50%;
}

.logo {
    grid-area: logo;
}

.name {
    grid-area: name;
}

.p {
    font-family: fantasy;
}