.wrapper {
    display: grid;
    grid-template-areas: "inscr form";
    grid-template-columns: 6fr 10fr;
}

.gap {
    height: 30px;
}

.gap2 {
    height: 22px;
}

.form {
    grid-area: form;
}

.inscr {
    grid-area: inscr;
}

.nickInscr {
    grid-area: nickInscr;
}

.passwordInscr {
    grid-area: passwordInscr;
}

.passwordInscr2 {
    grid-area: passwordInscr2;
}

.loginField {
    grid-area: loginField;
}

.loginInscr {
    grid-area: loginInscr;
}

.p {
    font-family: cursive;
    line-height: 0em;
}

.p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
}

.button {
    color: white;
    background-color: rgb(52, 104, 156);
    padding: .7em 1.5em;
    outline: none;
    border: 2px solid;
}

.button:hover {
    background: white;
    color: rgb(52, 104, 156);
}

.doneBtn {
    grid-area: done;
}