.wrapper {
    display: grid;
    grid-template-areas: ". info info ." ". dialogs content .";
    grid-template-columns: 20% 15% 45% 20%;
}

.content {
    grid-area: content;
}

.dialogs {
    grid-area: dialogs;
}

.info {
    grid-area: info;
    padding-left: 50%;
    background-color: rgb(165, 204, 207);
    margin-bottom: 5px;
}