.app-wrapper {
    margin: 0 auto;
    width: 60%;
    display: grid;
    grid-template-areas: "h h" "w w";
    grid-template-rows: 90% 1fr;
    grid-template-columns: 3fr 9fr;
    grid-gap: 5px;
}

.wrapper {
    grid-area: w;
    background-color: rgb(212, 38, 105);
}