.addDialBtn {
    text-align: center;
    display: block;
    font-family: arial;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(52, 104, 156);
    cursor: default;
    user-select: none;
}

.addDialBtn:hover {
    background-color: rgb(114, 145, 180);
}

.addDialBtn:active {
    background-color: rgb(65, 192, 143);
}