.container {
    display: grid;
    grid-template-columns: 1.5fr 0.6fr 1fr 1fr;
    grid-template-rows: 2fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-areas: ". . . button" ". inscription inscription ." ". . . ." ". nickField nickInscr ." ". passwordField passwordInscr ." ". . . .";
    color: rgb(0, 37, 204);
    ;
}

.inscription {
    grid-area: inscription;
}

.nickField {
    grid-area: nickField;
}

.passwordField {
    grid-area: passwordField;
}

.nickInscr {
    grid-area: nickInscr;
}

.passwordInscr {
    grid-area: passwordInscr;
}

.p {
    font-family: cursive;
}

.p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
}

.signupBtn {
    grid-area: button;
}

.button {
    color: white;
    background-color: rgb(52, 104, 156);
    padding: .7em 1.5em;
    outline: none;
    border: 2px solid;
}

.button:hover {
    background: white;
    color: rgb(52, 104, 156);
}